// 全局样式
@import url('./transition.scss');

html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  // filter: grayscale(100%);
}
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-y:hidden;
  overflow-x:hidden;
}
#app {
  height: 100%;
  // user-select: none;
}

